body {
    background-color: #262626;
    color: white;
}

table {
    color: black;
}

#shadybox {
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid;
    border-radius: 25px;
    color: black;
    background-color: white;
    padding: 10px;
    width: 25%;
    min-height: 500px;
    margin: 0px auto;
}

#shadybox a {
    color: black;
}

h2 {
    font-size: 72px;
    color: red;
    margin: 0px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid black;
}

input[type=text], input[type=password] {
    box-shadow: inset 0px 1px 1px #888888;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
}

hr {
    height: 1px;
}

pre {
    color: white;
    width: 50%;
    display: block;
}
