    <div class="jumbotron">
        <div class="container">
            <h1>The only site that lets you own a piece of pre-history</h1>
	    <div style="max-height:450px; max-width:450px; overflow: hidden">
	        <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Lambeosaurus_magnicristatus_DB.jpg">
           </div>
            <br>
        </div>
    </div>


