<!DOCTYPE html>
<html lang="en">

<head>
    <title>All about dinos :) </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                    navigation</span>
            </button> <a class="navbar-brand" href="/home">Darkweb Dinos</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/buy_dino" class="nav-link">Buy Dinos</a>
                    </li>
                    </li>
                    <li class="nav-item"><a href="/list_dinos" class="nav-link">Inventory</a>
                    </li>
                    <li class="nav-item"><a href="/buy_flagosaurus" class="nav-link">Buy Flagosaurus</a>
                    </li>
                    <li class="active nav-item"><a href="/login" class="nav-link">Login</a>
                    </li>
                    <li class="active nav-item"><a href="/logout" class="nav-link">Logout</a>
                    </li>
                    <li class="active nav-item"><a href="/register" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <%- body %>
</body>

</html>