<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">NYU United</a>
        <div class="nav-collapse">
            <ul class="nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/players">Roster</a></li>
                <li><a href="/about">About</a></li>
                <% if (locals.user) { %>  
                    <li><a href="/administration">Administration</a</li>
                    <li><a href="/admins/logout">Logout</a></li>
                <% } %>   
            </ul>
        </div><!--/.nav-collapse -->
        </div>
    </div>
</div>